<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Ambiente VIP - Edição]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {

	$("#page_tab").tabs();

	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });

	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url environment-vip.list %}";
	});

	$("#id_option_vip").pickList();

	$("#id_environment").pickList();

	$(".pickList_addAll").button({ icons: {primary: "ui-icon-arrowthickstop-1-s"}, text: false });
	$(".pickList_add").button({ icons: {primary: "ui-icon-arrowthick-1-s"}, text: false });
	$(".pickList_remove").button({ icons: {primary: "ui-icon-arrowthick-1-n"}, text: false });
	$(".pickList_removeAll").button({ icons: {primary: "ui-icon-arrowthickstop-1-n"}, text: false });

	var value = parseInt($("#chaves_counter").val());
	json_creator.set_chaves_counter(value);
    json_creator.set_chaves_counter_inf(value);

    value = parseInt($("#layers_req_counter").val());
    json_creator.set_layers_req_counter(value);
    json_creator.set_layers_req_counter_inf(value);

    value = parseInt($("#layers_req_counter").val());



});

String.prototype.format = function() {
    var formatted = this;
    for (var i = 0; i < arguments.length; i++) {
        var regexp = new RegExp('\\{'+i+'\\}', 'gi');
        formatted = formatted.replace(regexp, arguments[i]);
    }
    return formatted;
};

function addChavesFields(){

    json_creator.add_chaves_counter();
    json_creator.add_chaves_counter_inf()

    var counterInf = json_creator.get_chaves_counter_inf();

    var div = $("<div id=\"chaves_div_{0}\" />".format(counterInf));
    var key = $("<input type=\"text\" id=\"chaves_key_{0}\" />".format(counterInf));
    var value = $("<input type=\"text\" id=\"chaves_value_{0}\" />".format(counterInf));
    var btnRemove = $("<input id=\"chaves_btn_remove\" type=\"button\" value=\"-\" onclick=\"removeChavesFields(this)\"/>");

    div.append(key);
    div.append(value);
    div.append(btnRemove);

    $("#chaves").append(div);

    console.log(key);
    console.log(value);

}

function removeChavesFields(button){

    $(button).parent().remove();

    json_creator.sub_chaves_counter();

}

function addLayersReqFields(){

    json_creator.add_layers_req_counter();
    json_creator.add_layers_req_counter_inf();

    var counterInf = json_creator.get_layers_req_counter_inf();

    var div = $("<div id=\"layers_div_{0}\" class=\"ui-widget-content\" style=\"padding: 15px 15px 15px 15px;\" />".format(counterInf));

    var btnAdd = $("<input type=\"button\" value=\"+\" onclick=\"addLayersReqCondFields(this)\" />");

    div.append(btnAdd);

    $("#layers").append(div);

}

function addLayersReqCondFields(layer_req_cond){
    json_creator.add_layers_req_cond_counter();

    var div1 = $("<div class=\"ui-widget-content\" style=\"padding: 15px 15px 15px 15px;\" />");

    var p1 = $("<p>Usar:</p>");

    var btn_add_usar = $("<input type=\"button\" value=\"+\" onclick=\"addLayersReqCondUsarFields(this)\" />");

    var div1_inside = $("<div class=\"ui-widget-content\" style=\"padding: 15px 15px 15px 15px;\" />");

    div1.append(p1);
    div1.append(btn_add_usar);
    div1.append(div1_inside);

    var div2 = $("<div class=\"ui-widget-content\" style=\"padding: 15px 15px 15px 15px;\" />");

    var p2 = $("<p>Quando:</p>");

    var btn_add_quando = $("<input type=\"button\" value=\"+\" onclick=\"addLayersReqCondQuandoFields(this)\" />");

    div2.append(p2);
    div2.append(btn_add_quando);

    var br = $("<br />");

    $(layer_req_cond).parent().append(div1);
    $(layer_req_cond).parent().append(div2);
    $(layer_req_cond).parent().append(br);
}

function addLayersReqCondUsarFields(layer_req_cond_usar){

    var span = $("<span />");

    var div1 = $("<div class=\"ui-widget-content\" style=\"padding: 15px 15px 15px 15px;\" />");

    var div1_inside = $("<div />");

    var div1_inside_inside = $("<div />");

    var div1_inside_inside_inside = $("<div />");


    var label1_name = $("<label>_name</label>");

    var label1_eqpts = $("<label>eqpts</label>");

    var btn_add_eqpts = $("<input type=\"button\" value=\"+\" onclick=\"addLayersReqCondUsarEqptsFields(this)\" />");


    var input1 = $("<input type=\"text\" />");

    div1_inside_inside.append(label1_eqpts);
    div1_inside_inside.append(btn_add_eqpts);
    div1_inside_inside.append(div1_inside_inside_inside);

    div1_inside.append(label1_name);
    div1_inside.append(input1);
    div1_inside.append(div1_inside_inside);

    div1.append(div1_inside);

    var div2 = $("<div class=\"ui-widget-content\" style=\"padding: 15px 15px 15px 15px;\" />");
    var label2_definitions = $("<label>definitions</label>");
    var btn_add_definitions = $("<input type=\"button\" value=\"+\" onclick=\"addLayersReqCondUsarDefinitionsFields(this)\" />");

    div2.append(label2_definitions);
    div2.append(btn_add_definitions);

    var br = $("<br />");

    var btn_remove = $("<input type=\"button\" value=\"-\" onclick=\"removeLayersReqCondUsarFields(this)\" />");

    span.append(btn_remove);
    span.append(div1);
    span.append(div2);
    span.append(br);

    $(layer_req_cond_usar).parent().children('div').append(span);

}

function removeLayersReqCondUsarFields(layer_req_cond_usar){

    $(layer_req_cond_usar).parent().remove();

}

function addLayersReqCondUsarDefinitionsFields(layer_req_cond_usar_definition){
    var div = $("<div />");

    var label_type = $("<label>type</label>") ;
    var input_type = $("<input type=\"text\" />");

    var label_value = $("<label>value</label>") ;
    var input_value = $("<input type=\"text\" />");

    var btn_remove = $("<input type=\"button\" value=\"-\" onclick=\"removeLayersReqCondUsarDefinitionsFields(this)\"/>");

    div.append(label_type);
    div.append(input_type);
    div.append(label_value);
    div.append(input_value);

    div.append(btn_remove);

    $(layer_req_cond_usar_definition).parent().append(div);

}

function removeLayersReqCondUsarDefinitionsFields(layer_req_cond_usar_definition){
    $(layer_req_cond_usar_definition).parent().remove();
}

function addLayersReqCondUsarEqptsFields(layer_req_cond_usar_eqpt){

    var span = $("<span />");

    var input = $("<input type=\"text\" />");
    var btn_remove = $("<input type=\"button\" value=\"-\" onclick=\"removeLayersReqCondUsarEqptsFields(this)\" />");

    span.append(input);
    span.append(btn_remove);

    $(layer_req_cond_usar_eqpt).parent().children('div').append(span);

}

function removeLayersReqCondUsarEqptsFields(layer_req_cond_usar_eqpt){
    $(layer_req_cond_usar_eqpt).parent().remove();
}

function addLayersReqCondQuandoFields(layer_req_cond_quando){

    var div = $("<div />");

    var btn_remove = $("<input type=\"button\" value=\"-\" onclick=\"removeLayersReqCondQuandoFields(this)\"/>");

    var label_operator = $("<label>operator</label>") ;
    var input_operator = $("<input type=\"text\" />");

    var label_variable = $("<label>variable</label>") ;
    var input_variable = $("<input type=\"text\" />");

    var label_type = $("<label>type</label>") ;
    var input_type = $("<input type=\"text\" />");

    var label_value = $("<label>value</label>") ;
    var input_value = $("<input type=\"text\" />");

    div.append(label_operator);
    div.append(input_operator);
    div.append(label_variable);
    div.append(input_variable);
    div.append(label_type);
    div.append(input_type);
    div.append(label_value);
    div.append(input_value);
    div.append(btn_remove);

    $(layer_req_cond_quando).parent().append(div);

}

function removeLayersReqCondQuandoFields(layer_req_cond_quando){
    $(layer_req_cond_quando).parent().remove();
}

function JSONCreator(){
    /* Variables that ends with 'inf' means infinite. Its used to generate HTML ids.*/

    this.chaves_counter = 0;
    this.chaves_counter_inf = 0;

    this.layers_req_counter = 0;
    this.layers_req_counter_inf = 0;

    this.layers_req_cond_counter = [];
    this.layers_req_cond_counter_inf = [];

    this.layers_req_cond_usar_counter = 0;
    this.layers_req_cond_usar_counter_inf = 0;

    this.layers_req_cond_quando_counter = 0;
    this.layers_req_cond_quando_counter_inf = 0;

}

/* Chaves Counter getters and setters */
JSONCreator.prototype.get_chaves_counter = function () {
    return this.chaves_counter;
};

JSONCreator.prototype.set_chaves_counter = function (chaves_counter) {
    this.chaves_counter = chaves_counter;
};

JSONCreator.prototype.add_chaves_counter = function () {
    this.chaves_counter += 1;
};

JSONCreator.prototype.sub_chaves_counter = function (){
    this.chaves_counter -= 1;
};

JSONCreator.prototype.get_chaves_counter_inf = function () {
    return this.chaves_counter_inf;
};

JSONCreator.prototype.set_chaves_counter_inf = function (chaves_counter_inf) {
    this.chaves_counter_inf = chaves_counter_inf;
};

JSONCreator.prototype.add_chaves_counter_inf = function () {
    this.chaves_counter_inf += 1;
};


/* Layers Req getters and setters*/
JSONCreator.prototype.get_layers_req_counter = function () {
    return this.layers_req_counter;
};

JSONCreator.prototype.set_layers_req_counter = function (layers_req_counter) {
    this.layers_req_counter = layers_req_counter;
};

JSONCreator.prototype.add_layers_req_counter = function () {
    this.layers_req_counter += 1;
};

JSONCreator.prototype.sub_layers_req_counter = function (){
    this.layers_req_counter -= 1;
};

JSONCreator.prototype.get_layers_req_counter_inf = function () {
    return this.layers_req_counter_inf;
};

JSONCreator.prototype.set_layers_req_counter_inf = function (layers_req_counter_inf) {
    this.layers_req_counter_inf = layers_req_counter_inf;
};

JSONCreator.prototype.add_layers_req_counter_inf = function () {
    this.layers_req_counter_inf += 1;
};


/* Layers Req Cond getters and setters */
JSONCreator.prototype.get_layers_req_cond_counter = function (pos) {
    return this.layers_req_cond_counter[pos];
};

JSONCreator.prototype.push_layers_req_cond_counter = function (layers_req_cond_counter) {
    this.layers_req_cond_counter.push(layers_req_cond_counter);
};

JSONCreator.prototype.add_layers_req_cond_counter = function (pos) {
    this.layers_req_cond_counter[pos] += 1;
};

JSONCreator.prototype.sub_layers_req_cond_counter = function (pos){
    this.layers_req_cond_counter[pos] -= 1;
};

JSONCreator.prototype.get_layers_req_cond_counter_inf = function (pos) {
    return this.layers_req_cond_counter_inf[pos];
};

JSONCreator.prototype.push_layers_req_cond_counter_inf = function (layers_req_cond_counter_inf) {
    this.layers_req_cond_counter_inf.push(layers_req_cond_counter_inf);
};

JSONCreator.prototype.add_layers_req_cond_counter_inf = function (pos) {
    this.layers_req_cond_counter_inf[pos] += 1;
};


/* Layers Req Cond Usar getters and setters */
JSONCreator.prototype.get_layers_req_cond_usar_counter = function () {
    return this.layers_req_cond_usar_counter;
};

JSONCreator.prototype.set_layers_req_cond_usar_counter = function (layers_req_cond_usar_counter) {
    this.layers_req_cond_usar_counter = layers_req_cond_usar_counter;
};

JSONCreator.prototype.add_layers_req_cond_usar_counter = function () {
    this.layers_req_cond_usar_counter += 1;
};

JSONCreator.prototype.sub_layers_req_cond_usar_counter = function (){
    this.layers_req_cond_usar_counter -= 1;
};

JSONCreator.prototype.get_layers_req_cond_usar_counter_inf = function () {
    return this.layers_req_cond_usar_counter_inf;
};

JSONCreator.prototype.set_layers_req_cond_usar_counter_inf = function (layers_req_cond_usar_counter_inf) {
    this.layers_req_cond_usar_counter_inf = layers_req_cond_usar_counter_inf;
};

JSONCreator.prototype.add_layers_req_cond_usar_counter_inf = function () {
    this.layers_req_cond_usar_counter_inf += 1;
};


/* Layers Req Cond Quando getters and setters */
JSONCreator.prototype.get_layers_req_cond_quando_counter = function () {
    return this.layers_req_cond_quando_counter;
};

JSONCreator.prototype.set_layers_req_cond_quando_counter = function (layers_req_cond_quando_counter) {
    this.layers_req_cond_quando_counter = layers_req_cond_quando_counter;
};

JSONCreator.prototype.add_layers_req_cond_quando_counter = function () {
    this.layers_req_cond_quando_counter += 1;
};

JSONCreator.prototype.sub_layers_req_cond_quando_counter = function (){
    this.layers_req_cond_quando_counter -= 1;
};

JSONCreator.prototype.get_layers_req_cond_quando_counter_inf = function () {
    return this.layers_req_cond_quando_counter_inf;
};

JSONCreator.prototype.set_layers_req_cond_quando_counter_inf = function (layers_req_cond_quando_counter_inf) {
    this.layers_req_cond_quando_counter_inf = layers_req_cond_quando_counter_inf;
};

JSONCreator.prototype.add_layers_req_cond_quando_counter_inf = function () {
    this.layers_req_cond_quando_counter_inf += 1;
};


var json_creator = new JSONCreator();




</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Edição de Ambiente VIP</a></li>
	</ul>
	<div id="tabs-1">
		<form id="add_form" method="post" action="{% url environment-vip.edit id_vip %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
				<div id="chaves" class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
				<p>
                    Chaves
                    <input type="button" value="+" onclick="addChavesFields()" />
                </p>

                <input type="hidden" id="chaves_counter" value="{{ forms.keys.0.items|length }}"/>

                {% for key, value in forms.keys.0.items %}

                    <div id="chaves_div_{{ forloop.counter }}">
                        <input type="text" value="{{key}}" id="chaves_key_{{ forloop.counter }}" />
                        <input type="text" value="{{value}}" id="chaves_value_{{ forloop.counter }}" />
                        <input id="chaves_btn_remove" type="button" value="-" onclick="removeChavesFields(this)"/>
                    </div>

				{% endfor %}
				</div>

				<div class="separator spacer"></div>

                <div id="layers" class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
				<p>
                    Layers
                    <input type="button" value="+" onclick="addLayersReqFields()" />

                </p>

                <label>_name</label>
                <input type="text" value="{{ forms.layers.0|get:'_name' }}">

                <input type="hidden" id="layers_req_counter" value="{{ forms.layers.0.requiments|length }}"/>

                {% for requiment in forms.layers.0.requiments %}

                    <div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">

                        <input type="hidden" id="layers_req_cond_counter_{{ forloop.counter }}" value="{{ requiment.condicionals|length }}"/>
                        {% for condicional in requiment.condicionals %}
                        <div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
                            <p>Usar:</p>
                            <div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
                            {% for form in condicional.use %}
                                <span>
                                    <div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
                                        <div>
                                            <label>_name</label>
                                            <input type="text" value="{{ form|get:'_name' }}">
                                            <div>
                                                <label>eqpts</label>
                                                <div>
                                                {% for value in form.eqpts %}
                                                    <span>
                                                        <input type="text" value="{{value}}">
                                                    </span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
                                        <label>definitions</label>
                                        {% for definition in form.definitions %}
                                        <div>
                                            {% for key, value in definition.items %}
                                                <label>{{key}}</label>
                                                <input type="text" value="{{value}}">
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <br />
                                </span>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
                            <p>Quando:</p>
                            {% for form in condicional.validations %}
                                <div>
                                {% for key, value in form.items %}
                                    <label>{{key}}</label>
                                    <input type="text" value="{{value}}">
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                {% endfor %}
				</div>

				<div class="separator spacer"></div>

				<div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
				<p>Opções Vip Estendidas</p>
				{% for requiment in forms.optionsvip_extended.requiments %}
					<div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
						<label>_name</label>
						<input type="text" value="{{ requiment|get:'_name' }}">
						<div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
							{% for condicional in requiment.condicionals %}
							<div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
								<p>Usar:</p>
								{% for form in condicional.use %}
									<div>
									{% for key, value in form.items %}
										<label>{{key}}</label>
										<input type="text" value="{{value}}">
									{% endfor %}
									</div>
								{% endfor %}
							</div>
							<div class="ui-widget-content" style="padding: 15px 15px 15px 15px;">
								<p>Quando:</p>
								{% for form in condicional.validations %}
									<div>
									{% for key, value in form.items %}
										<label>{{key}}</label>
										<input type="text" value="{{value}}">
									{% endfor %}
									</div>
								{% endfor %}
							</div>
							<br>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				</div>
			</div>

			<div class="separator spacer"></div>
			<div class="separator spacer"></div>

			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
