<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Ambiente VIP - Edição]{% endblock %}

{% block header %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jsoneditor.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

	$("#page_tab").tabs();

	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });

	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url environment-vip.list %}";
	});

	$("#id_option_vip").pickList();

	$("#id_environment").pickList();

	$(".pickList_addAll").button({ icons: {primary: "ui-icon-arrowthickstop-1-s"}, text: false });
	$(".pickList_add").button({ icons: {primary: "ui-icon-arrowthick-1-s"}, text: false });
	$(".pickList_remove").button({ icons: {primary: "ui-icon-arrowthick-1-n"}, text: false });
	$(".pickList_removeAll").button({ icons: {primary: "ui-icon-arrowthickstop-1-n"}, text: false });


	var json = '{{ json|safe }}';
    var jsoneditor;


});

</script>
{% endblock %}

{% block content %}

<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Edição de Ambiente VIP</a></li>
	</ul>
	<div id="tabs-1">
		<form method="POST" action="{% url environment-vip.conf.form id_vip %}">
			{% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}
